/*reorganizing the CSS */
body {
    background-color: #d9dcd6;
}
/* add to remove the default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* apply styles to the <header> typ. padding and background-color */
header {
    padding: 20px;
    background-color: #2a607c;
}
/* switching font-family and color from header to header h1*/
header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    color: #ffffff;
}

/* Adding styles for the <a> element */
header a {
    text-decoration: none;
    color:#ffffff
}

.seo {
    color: #d9dcd6;
}

header nav {
    display: inline;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /*Adding more benefit section common styles per DRY ideal*/
    margin-bottom: 10px;
    color: #ffffff;
}

/*Consolidating the section articles' h3 styles*/
.benefits h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Placing the content-style last to give it CSS priority*/
.content-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-style h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Revised the footer to remove the period before the word because it is not a class. */
footer {
    /*Added display as inline-block to eliminate extra spacing*/
    display: inline-block;
    padding: 0 0 30px 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

footer h2 {
    font-size: 20px;
}

.heart {
    color: red;
    font-weight: normal;
}